.btn-airbnb {
  background-color: #E51D54;
  color: white;
  padding: 16px 24px;
  border-radius: 4px;
  transition: background-color 1s;
}

.btn-airbnb:hover {
  background-color: #75243a;
}

a.btn-medium {
  border: 2px solid rgb(26, 137, 23);
  color: rgb(26, 137, 23);
  padding: 16px 24px;
  border-radius: 50px;
  transition: border 1s, color 1s;
}

a.btn-medium:hover {
  border: 2px solid rgb(36, 77, 35);
  color: rgb(36, 77, 35);
}