.card-category {
  height: 300px;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 8px rgb(0 0 0 / 50%);
  border-radius: 4px;
}

.card-product {
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 16px rgb(0 0 0 / 20%);
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-right: 16px;
}

.card-product p, .card-product h2 {
  margin: 0;
}

.card-trip {
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 20%);
  margin-bottom: 24px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
}

.card-trip h2, .card-trip p {
  margin: 0;
}

.card-trip-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}